body{

    background-color: black;
}

    

header{

    background-image: url(../galeria/E2789_02.jpg);
    background-size: 150px 120px;
}


#slide{

    border: solid black;
}

#descripcion{

    
    background-color: black;
    padding: 100px;

}

#secundario{

    
    background-color: #b83833;
    padding: 100px;

}

#descripcion2{

    
    background-color: black;
    padding: 100px;

}

footer{

    
    background-color: #b83833;
    color: white;
    padding: 20px;
    

}

nav a{

    color: white;

}

navbar-nav{

    background: url(galeria/audio-wave-icon-19.jpg)

}

#descripcion p{

    color: white;
    text-align: justify;

}

#descripcion2 p{

    color: white;

}

#secundario img{

    position: relative;
    left: 30%;

}

#descripcion p{

    font-size: 20px;
    text-align: left;
    text-align: justify;
}

#descripcion2 p{

    font-size: 20px;
    text-align: justify;
}

#descripcion2 h2{

    font-size: 20px;
    color: white;
    text-align: justify;
}

.navbar-nav{

    position: relative;
    
    
}

i{

    color: white;
    font-size: 20px;
}

#secundario p{

    color: white;
    font-size: 20px;

}

div #social{

    position: relative;
    top: 50px;
    left: 160px;
    
}

#secundario p{

    text-align: justify;

}

.nav-link{ 

    color: white;
}


